# =========================
# Python
# =========================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by PyInstaller
#  after creating distributions
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Pydantic compiled models
.pdm-build/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# Local settings
settings.local.py

# Environment variable files
.env
.env.*
*.env

# Django related (if applicable)
*.log
staticfiles/
media/

# Flask related (if applicable)
instance/

# Database
*.sqlite3
# *.db

# MacOS
.DS_Store

# Windows
Thumbs.db

# .mp4
*.mp4
# cricket_data
cricket_data/
# =========================
# End of file
# =========================
